<!-- Yusuke Kuroki(301137023) Sept.27 --service.ejs -->
<!-- Services -->

				<h1 class="display-4"><%= title %></h1>
				<ul>
					<li>System development(C#, Java, Delphi and so on)</li>
					<li>Web page development(Javascript and related tools)</li>
					<li>Game development(Unity, GMS2)</li>
					<li>Small-scalle server building</li>
					<li>Programmer tester</li>
<!--					<li>Private transportation with Rally car :P</li>	-->
				</ul><br>
				If you would like to know detail or other thing which I can do or not, <br>
				please ask from <a href="/contact">here</a>.
