<!-- Yusuke Kuroki(301137023) Sept.27 --about.ejs -->
<!-- About me -->

				<h1 class="display-4"><%= title %></h1>
				<div style="display: flex;justify-content: left;">
					<p style="width: 20%;">
						<img src="/Assets/images/orenokao.jpg" alt="My image" title="Who is him?" width="70%"/>
					</p>
					<p style="width: 50%;">
						My name is Yusuke Kuroki. I was born and raised in Japan. My hobbies are 
						Rallying(motorsports), Listening music and Playing with my parrots. Driving, reading,
						playing video game are that I do when I have free time. I am passionate about Learning programming.
						I will study C++ and some functional language such as Haskell by myself. Also, I am curious about
						assembly language. I would like to study Computer science more. I used to play soccer.
					</p>
				</div>
				<p style="width: 50%;">
					<a href="/Assets/Yusuke Kuroki_resum2021.pdf" target="_blank" rel="noopener">My resume</a>
				</p>
				<hr>
				<img src="/Assets/images/storiax4.png" alt="Car" title="Rallying" width="20%"/><br>
