<!-- Yusuke Kuroki(301137023) Sept.27 --project.ejs -->
<!-- Projects -->

				<h1 class="display-4"><%= title %></h1>
				<div style="display: flex;justify-content: left;">
					<p style="width: 20%;">
						<img src="/Assets/images/document_voynich_manuscript.png" alt="Book" title="voynich" width="70%"/>
					</p>
					<p style="width: 38%;">
						<b>Simple Bookmark</b><br>
						I am making Bookmark web site to learn how to set up server, security and environment. 
						It is used Javascript and related technology, nginx and MariaDB. This project won't be published.
					</p>
				</div>
				<div style="display: flex;justify-content: left;">
					<p style="width: 20%;">
						<img src="/Assets/images/GMS2_Primary_DblLine_BlackTransparent.png" alt="GMS2" title="GMS2 logo" width="70%"/>
					</p>
					<p style="width: 38%;">
						<b>Game development</b><br>
						I am developing simple game by using GameMaker Studio2 made by YoYo Games. 
						Currently, I try understanding IDE and language about GMS2. Also, I an learning about Unity.
					</p>
				</div>
				<div style="display: flex;justify-content: left;">
					<p style="width: 20%;">
						<img src="/Assets/images/unity-masterbrand-black.png" alt="Unity" title="Unity logo" width="70%"/>
					</p>
					<p style="width: 38%;">
						<b>Groupwork in College</b><br>
						Group work at Centennial College as a student. Game development, System design and so on.
					</p>
				</div>